* {
  margin: 0;
  color: #fff;
}
body {
  background-image: linear-gradient(#160059, #160059, #282aa4);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.game {
  display: flex;
  min-width: 400px;
  max-width: 900px;
  min-height: 100px;
  background-color: #6d58d7;
  border: 10px solid#000;
  box-shadow: 2px 2px 20px 5px rgba(255, 0, 0, 0.747);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.logo {
  font-family: "Homemade Apple", cursive;
  color: #000;
  text-shadow: 2px 2px 5px red;
  text-transform: capitalize;
}

.chapitre {
  font-family: "Yeon Sung", cursive;
}

.text {
  font-family: "Eagle Lake", cursive;
  margin-top: 15px;
}
.image {
  vertical-align: middle;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  max-width: 100%;
}
img{
max-height: 300px;
}

.option {
  display: flex;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
  font-family: "Eagle Lake", cursive;
  padding-bottom: 10px;
}

.bouton {
  background-color: #000;
  border: 5px solid rgba(255, 0, 0, 0.747);
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.bouton:hover {
  background-color: rgba(255, 0, 0, 0.747);
  border: 5px solid #000;
  color: #fff;
}
